@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

body{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

#mapDiv{
  width: 60vw;
  height: 80vh;
  border: 3px solid black;
  border-radius: 30%;
  margin: 0 0 70px 0 20px;
  box-shadow: 0 0 100px rgb(223, 119, 0);

}

li{
  list-style: none;
  font-size: 2em;
}

a{
  color: red;
  text-decoration: none;
  &:hover{
    color: cornsilk;
    text-decoration: none;
  }
  &:visited{
    color: #804F18;
    text-decoration: line-through;
  }
}
table{
  color: orange;
}

nav{
  margin-bottom: -2%;
}

.previewImg{
  border-radius: 100%;
  height: 8em;
  widthth: 8em;
  border: 3px solid cornsilk;
}

.carousel{
  margin-top: 7%;
  margin-left: 5%;
  margin-right: 2%;
  padding-top: 0;
  background-color: #08304B;
  color: rgb(223, 119, 0);
  box-shadow: 5px 5px 50px rgb(0, 1, 0);
  border-radius: 15%;
  border: 5px solid black;
  height: 30em;
}

.quote{
  color: DarkOrange;
}

.navArrow:hover{
  color: cornsilk;
  cursor: pointer;
}

.profileImg{
  border-radius: 100%;
  border: 3px solid rgb(223, 119, 0);
  max-width: 200px;
  max-height: 200px;
}

.newspanel{
  background-color: rgb(223, 119, 0);
  border: 2px solid black;
  border-radius: 20px;
}

.comment{
  color: rgba(223, 119, 0, .7);
}

.nav-score{
  color: orange;
}

.thumb{
  cursor: pointer;
}

.post-title{
  color: rgba(223, 119, 0, .7);
}

.score{
  color: cornsilk;
}
.forum-title{
  color: rgb(223, 119, 0);
}

.post-body{
  background-color: rgb(82, 82, 82);
  border-radius: 5px;
  padding: 2em;
  font-weight: bold;
  letter-spacing: 1px;
}

.map-container{
  margin-bottom: 0;
}

#mapDiv2{
  height: 250px;
  border-radius: 25%;
}
