@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

body{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

#mapDiv{
  width: 70em;
  height: 35em;
  border-radius: 20px;
  margin: 20px 70px 0 20px;
  box-shadow: 0 0 50px black;

}

li{
  list-style: none;
  font-size: 2em;
}

a{
  text-decoration: none;
}
a:hover{
  color: red;
  text-decoration: none;
}
a:visited{
  color: red;
  text-decoration: line-through;
}

.previewImg{
  border-radius: 100%;
  height: 10em;
  widthth: 10em;
  border: 3px solid orange;
}

.carousel{
  margin-top: 4%;
}

.quote, .score{
  color: orange;
}

.navArrow:hover{
  color: orange;
}

.link{
  color: orange;
}
