@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

body{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

#mapDiv{
  width: 70em;
  height: 35em;
  border: 3px solid black;
  border-radius: 20px;
  margin: 20px 70px 0 20px;
  box-shadow: 0 0 100px rgb(223, 119, 0);

}

li{
  list-style: none;
  font-size: 2em;
}

a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: red;
  text-decoration: none;
}
a:visited{
  color: purple;
  text-decoration: line-through;
}

.previewImg{
  border-radius: 100%;
  height: 9em;
  widthth: 9em;
  border: 3px solid cornsilk;
}

.carousel{
  margin-top: 2.5%;
  background-color: rgb(223, 119, 0);
  color: black;
  box-shadow: 50 0 20px purple;
  border-radius: 5px;
  height: 450px;
}

.quote{
  color: DarkOrange;
}

.navArrow:hover{
  color: cornsilk;
  cursor: pointer;
}

.link{
  color: Black;
}

.profileImg{
  border-radius: 100%;
  border: 3px solid rgb(223, 119, 0);
  max-width: 200px;
  max-height: 200px;
}

.newspanel{
  background-color: rgb(223, 119, 0);
  border: 2px solid black;
  border-radius: 20px;
}

.nav-score{
  color: orange;
}

.score{
  color: cornsilk;
}
