h1: u Evan Gatchell
h3 Full-Stack JavaScript Engineer
br
h3: u Reach Out:
h4 evangatchell.me
h4 greygatch@gmail.com
h4 twitter.com/greygatch
h4 github.com/greygatch
br
h3: u Technologies:
h4: img.tekpix(src='http://lauterry.github.io/slides-prez-angular/img/angularjs.png')
h4: img.tekpix(src='http://lcl.yuanji.ca/images/jQurery.gif')
h4: img.tekpix(src='http://i.imgur.com/L2THpNk.png?1')
h4: img.tekpix(src='http://andafter.org/media/users/29/album/LogoMongoDB.png')
