h1: u Evan Gatchell
h3 Full-Stack JavaScript Engineer
br
h3: u Contact:
h4: i.fa.fa-user &nbsp; evangatchell.me
h4: i.fa.fa-google &nbsp; greygatch@gmail.com
h4: i.fa.fa-twitter &nbsp; twitter.com/greygatch
h4: i.fa.fa-github &nbsp; github.com/greygatch
br
h3: u Technologies:
h4: img.tekpix(src='http://i.imgur.com/L2THpNk.png?1')
h4: img.tekpix(src='http://andafter.org/media/users/29/album/LogoMongoDB.png')
h4: img.tekpix(src='http://lauterry.github.io/slides-prez-angular/img/angularjs.png')
h4: img.tekpix(src='http://lcl.yuanji.ca/images/jQurery.gif')
