.container.splashpage
  .row
    .col-xs-10.col-xs-offset-1
      br
      br
      h2: i.fa.fa-lightbulb-o.fa-2x eLuminate
      br
      h3.quote: b A game that rewards you for informing yourself.
      //- #mapDiv2.responsive
      h4 "An educated citizenry is a vital requisite for our survival as a free people." - Thomas Jefferson
      br
      button(ng-click='checkUserStatus()').btn.btn-success.btn-lg.play Play Now
