.container
  .row
    .col-xs-8.col-xs-offset-2
      
      h2: i.fa.fa-lightbulb-o.fa-2x
      h3.quote Welcome to eLuminate! A game-based app that rewards you for informing yourself of current events.
      h4 "An educated citizenry is a vital requisite for our survival as a free people." - Thomas Jefferson
      #mapDiv2.responsive
