h1 Leaderboard
.row
  .col-xs-8.col-xs-offset-2
    table.table.leaderboard
      thead
        tr
          td 
          td User
          td Avatar
          td Points
          td Badges
      tbody
        tr.user-card(ng-repeat='user in users | orderBy: "-points" track by $index')
          td {{$index + 1}}
          td {{user.username}}
          td: img.leader-image(ng-src='{{user.avatar}}')
          td.leader-points {{user.points}}
          td {{user.badges.length}}
    h6 *You must update your profile before you can be placed on the leaderboard.
