h3 PROFILE

.col-xs-4.col-xs-offset-4
  form
    .form-group
      input.form-control(type='text' placeholder='username')
      br
      input.form-control(type='text' placeholder='email')
      br
      input.form-control(type='password' placeholder='password')
      br
      input.form-control(type='text' placeholder='avatar URL')
      br
      button.btn.btn-warning Update Profile
