.row
  .col-xs-7
    #mapDiv
  .col-xs-4.carousel
    i.fa.fa-chevron-left.fa-5x.gallery(ng-click='move("prev")')
    i.fa.fa-chevron-right.fa-5x.gallery(ng-click='move("next")')
    br
    img.previewImg(ng-src='{{article.multimedia ? article.multimedia[0].url : null}}')
    h3: a(target='_blank' ng-click='isRead($event)' ng-href='{{article.url}}') {{article.title}}
      
