.row
  .col-xs-7
    #mapDiv
  .col-xs-4
    ul(ng-repeat='article in articles')
      li: a(target='_blank' ng-click='isRead($event)' ng-href='{{article.url}}') {{article.title}}
      li {{article.abstract}}
      img.previewImg(ng-src='{{article.multimedia ? article.multimedia[0].url : null}}')
      li ___
      
