.row.map-container
  h1: i(ng-if='loading').fa-spinner.fa-spin.fa-5x
  .col-xs-3.col-md-3.carousel.pull-left(ng-if='!loading')
    //- h3 Current Score:
    //- h4.score {{newPoints}}
    h3: a.link(target='_blank' ng-mousedown='isRead($event)' ng-href='{{article.url}}') {{article.title}}
    h5 
    img.previewImg(ng-show='isImage' ng-src='{{article.multimedia[0].url ? article.multimedia[4].url : dummyUrl}}')
    h4.nav-score: b {{article.abstract}}
    .row
      i.navArrow.fa.fa-chevron-left.fa-4x.gallery(ng-click='move("prev")')
      i.navArrow.fa.fa-chevron-right.fa-4x.gallery(ng-click='move("next")')
      h6 {{i + 1}} out of {{articles.length}}
      button.btn.btn-success(ng-if='article.geo_facet[0]' ng-click='changeMap()') Zoom
      button.btn.btn-primary(ng-click='newPost()') Post About It
  .col-xs-8.col-md-8
    #mapDiv.responsive(ng-if='!loading')
  .col-xs-4.col-xs-offset-4
    i.fa.fa-arrow-down.center-block.fa-3x
.row.rules
  .col-xs-4.col-xs-offset-4
    h4.text-warning: u Rules
    h5.text-primary Points for Reading an Article:
    h5.text-success 75-100
    h5.text-primary Points for Creating a Post:
    h5.text-success 25-50
    h5.text-primary Points for Exploring a Region:
    h5.text-success 10-35
    h5.text-primary Points for Commenting on a Post:
    h5.text-success 1-25
