.row
  .col-xs-2.col-xs-offset-5
    buton.btn.btn-default(ui-sref='forum.list') Back to Forum
br
.row
  .col-xs-4.col-xs-offset-4
    h2.post-title {{post.title}}
    h5 Votes: {{post.votes}}
    h5 Comments: {{post.comments.length}}
.row
  .col-xs-6.col-xs-offset-3.post-body
    p {{post.body}}
.row
  .col-xs-4.col-xs-offset-4
    br
    table.table.table-bordered.forum-post
      thead
        tr.comment(ng-repeat='comment in post.comments')
          td {{comment.body}}
          td: i.thumb.fa.fa-thumbs-o-up(ng-click='upvote(comment, post)') {{comment.votes}}
br
.row
  .col-xs-2.col-xs-offset-5
    form.form-group
      textarea.form-control.add-comment(rows='5' ng-model='body')
    button.btn.btn-warning(ng-click='addComment(body)') Add Comment
