.row
  .col-xs-4.col-xs-offset-4
    button.btn.btn-default(ui-sref='forum.new') New Post
    table.table.table-striped
      tbody
        tr(ng-repeat='post in posts | orderBy: "-createdAt"')
          td: i.fa.fa-thumbs-o-up &nbsp; {{post.votes}}
          td: a.forum-title(ui-sref='forum.show') {{post.title}}
