.row
  .col-xs-6.col-xs-offset-3
    h3 {{post.title}}
    h4 {{post.body}}
    h6 Votes: {{post.votes}}
    h6 Comments: {{post.comments.length}}

.row
  .col-xs-2.col-xs-offset-5
    textarea.form-control(rows='5' ng-model='body')
    br
    button.btn.btn-warning(ng-click='addComment(body)') Add Comment
