.row
  .col-xs-6.col-xs-offset-3
    h3 Welcome to the eLuminate Forum
    h4 Please be respectful to others.
    br
    button.btn.btn-default(ui-sref='forum.new') Create Post
    br
    br  
    table.table.table-striped
      tbody
        tr(ng-repeat='post in posts | orderBy: "-createdAt"')
          td: i.thumb.fa.fa-thumbs-o-up(ng-click='upvote(post)') &nbsp; {{post.votes}}
          td: a.forum-title(ui-sref='forum.show({postId: post._id})') {{post.title}}
          td Replies: {{post.comments.length}}
          td {{post.createdAt | date: sm}}
          td: button.btn.btn-xs.btn-warning(ng-if='isUserPost(post)' ng-click='editPost(post)') Edit
          td: button.btn.btn-xs.btn-danger(ng-if='isUserPost(post)' ng-click='deletePost(post)') Delete
