.row
  .col-xs-2.col-xs-offset-4
    img.profileImg(ng-src='{{user.avatar}}')
    h4 {{user.username ? user.username : user.firebaseId}}
    h4.nav-score Joined: {{user.createdAt | date: med}}
    h4.nav-score Points: {{user.points}}
    h4.nav-score Badges: 0
  .col-xs-2
    br
    form
      br
      .form-group
        label Update User Profile
        br
        input.form-control(type='text' placeholder='username' ng-model='profile.username')
        br
        input.form-control(type='text' placeholder='avatar URL' ng-model='profile.avatar')
        br
        button.btn.btn-default(ng-click='updateProfile(profile)') Update Profile
.row
  .col-xs-6.col-xs-offset-3
    table.table.table-striped
      tbody
        tr(ng-repeat='post in posts | orderBy: "-createdAt"')
          td: i.fa.fa-thumbs-o-up &nbsp; {{post.votes}}
          td: a.forum-title(ui-sref='forum.show({postId: post._id})') {{post.title}}
          td: button.btn.btn-warning.btn-xs(ng-click='editPost(post)') Edit
          td: button.btn.btn-danger.btn-xs(ng-click='deletePost(post)') X
          
          
