.row
  .col-xs-2.col-xs-offset-5
    br
    form
      .form-group
        label Update User Profile
        input.form-control(type='text' placeholder='username' ng-model='profile.username')
        br
        input.form-control(type='text' placeholder='avatar URL' ng-model='profile.avatar')
        br
        button.btn.btn-default(ng-click='updateProfile(profile)') Update Profile
.row
  .col-xs-4.col-xs-offset-4
    img.profileImg(ng-src='{{user.avatar}}')
    h3 {{user.username ? user.username : user.firebaseId}}
    h3.nav-score Points: {{user.points}}
    h3.nav-score Badges: 0
    h3.nav-score Joined: {{user.createdAt | date: med}}
